
.root {
	-fx-padding: 8.0px;
	-fx-background-color: white;
}

#price-range-box {
    -fx-alignment: top-right;
    -fx-padding: 4px;
    -fx-background-color: aliceblue;
    -fx-spacing: 10.0px;
}

#price-range-box > .label {
    -fx-background-color: aliceblue;
    -fx-padding: 5 5 0 0;
}

#price-range-box > .choice-box {
    -fx-background-color: ghostwhite;
    -fx-font-style: italic;
    -fx-border-radius: 7.0px;
    -fx-border-color: #D0D0D0;
}

#price-range-box > .choice-box:hover {
    -fx-background-color: snow;
    -fx-font-style: italic;
    -fx-border-radius: 7.0px;
    -fx-border-color: gainsboro;
}

#welcome-label {
	-fx-padding: 20px;
	-fx-font-size: 15px;
	-fx-text-alignment: center;
}

#selected-range-box {
	-fx-font-size: 15px;
	-fx-padding: 10px;
	-fx-spacing: 10.0px;
	-fx-background-color: aliceblue;
}

#navigation-box {
    -fx-padding: 4.0px;
    -fx-background-color: white;
    -fx-border-top-style: #D0D0D0;
}

.navigation-button {
    -fx-font-size: 15.0px;
    -fx-font-style: italic;
    -fx-background-color: snow;
    -fx-border-radius: 2.0px;
    -fx-border-color:  #D0D0D0;
    -fx-pref-width: 50.0px;
}

.navigation-button:hover {
    -fx-background-color: ghostwhite; 
}

.map-pane {
	-fx-background-color: linear-gradient(aliceblue 50%, white 50%);
	-fx-padding: 10px;
}

.borough-pane {
    -fx-background-color: white;
}

.borough-pane > .button {
	 -fx-background-color: white;
}

/* BOROUGH PROPERTIES STAGE */

#sort-box {
	-fx-background-color: #4F9EC4;
    -fx-alignment: top-right;
    -fx-padding: 5px;
}

#sort-box > .choice-box {
    -fx-border-radius: 3.0px;
}

#sort-box > .choice-box:hover {
	-fx-background-color: snow;
}

#sort-box > .label {
    -fx-padding: 4 6 4 4;
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-font-family: italic;
    -fx-font-weight: bold;
}

#table-box {
	-fx-background-color: blue;
}

.header-pane {
	-fx-background-color: #6CB2D1;
    -fx-padding: 4 5 4 5;
    -fx-font-family: italic;
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

.body-pane {
 	-fx-background-color: white;
}

.property-row-box {
	-fx-background-color: #fff5e6;
    -fx-font-size: 12pt;
    -fx-padding:4px;
    -fx-font-family: italic;
}

/* PROPERTIES DESCRIPTION STAGE */

#property-description-grid-pane {
	-fx-background-color: linear-gradient(to right,aliceblue 45%, white 55%);
	-fx-padding: 10px;
}

.name-label {
	-fx-font-weight: bold;
    -fx-font-family: italic;
    -fx-font-size: 12pt;
}

.description-label {
	-fx-background-color: white;
    -fx-font-size: 12pt;
}

#statistic-v-box > .label{
    -fx-text-alignment: center;
    -fx-font-size: 11pt;
    -fx-alignment: center;
    -fx-padding: 40;
    -fx-border-color: black;
}

#statistic-border-pane > .button:hover {
	-fx-background-color: #0000ff;
	-fx-border-color: #000080;
	-fx-border-width: 2;
	-fx-text-fill: white;
}

#panel-4 {
	-fx-font-size: 11pt;
	-fx-alignment: center;
	-fx-padding: 50px;
}